.stu-image{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.stu-image .stu-img{
    border: 3px solid var(--color-primary);
    aspect-ratio: 1/1;
    border-radius: 50%;

}
.stu-card-info{
    text-align: center;
}
.stu-card-body{
    padding: 2rem;
    background: var(--color-bg2);
    margin-bottom: 1rem;
    margin-top: 2rem;
    position: relative;
}
.stu-card-body::before{
    content: " ";
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 50%;
    /* background-color: red; */
    transform: rotate(45deg);
    margin-top: -1.4rem;
    background: linear-gradient(135deg,
    transparent,
    var(--color-bg2),
    var(--color-bg2),
    var(--color-bg2)
    );

}
.container.swiper-container{
        padding-bottom: 2rem;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-white);
    font-size: 3rem;
    padding: 0.4rem;
}
/* .swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-white);
} */

.swiper-container {
    width: 480px;

  }
  
  @media screen and (max-width: 1120px) {
    .container{
        width: var(--container-width-md);
    }
    .swiper-container {
        width: 40px;
        /* background-color: aqua; */
    }
}


@media screen and (max-width: 400px) {
    .container{
      width: var(--container-width-sm);
    }
    .swiper-container {
      width: 40px;
      /* background-color: var(--color-white); */
    }
  }
  
