header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}


.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left p{
    margin: 1rem 0 2.4rem;
}



/*============================= Media Queries for Mediam Screen =============================== */

@media screen AND (max-width:1120px) {
    .header_container{
        grid-template-columns: 1fr;
    }
    .header_left{
        margin-bottom: 2rem;
        
    }
    .header_right-image{
        aspect-ratio: 1/1;
        object-fit: cover;
        /* margin-top: -6rem; */
    }
    header{
        height: 100vh;
        margin-top: -5rem;
    }
    
}

/*============================= Media Queries for Small Screen ==================================== */
@media screen AND (max-width:600px) {
    .header_container{
        grid-template-columns: 1fr;
    }
    .header_left{
        margin-bottom: 2rem;
    }
    
}